body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:40px;
  width:810px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:124px;
  width:810px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u3 {
  position:absolute;
  left:196px;
  top:130px;
  width:10px;
  height:370px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:353px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:370px;
}
#u4 {
  position:absolute;
  left:200px;
  top:155px;
  width:690px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u5 {
  position:absolute;
  left:202px;
  top:130px;
  width:90px;
  height:31px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:291px;
  top:130px;
  width:90px;
  height:31px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:800px;
  top:130px;
  width:90px;
  height:31px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:133px;
  width:100px;
  height:31px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:166px;
  width:100px;
  height:31px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:90px;
  top:199px;
  width:100px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:90px;
  top:232px;
  width:100px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:90px;
  top:265px;
  width:100px;
  height:31px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:324px;
  top:51px;
  width:540px;
  height:70px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:536px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:110px;
  top:61px;
  width:150px;
  height:51px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:89px;
  top:301px;
  width:100px;
  height:31px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:89px;
  top:334px;
  width:100px;
  height:31px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:89px;
  top:367px;
  width:100px;
  height:31px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:89px;
  top:400px;
  width:100px;
  height:31px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:89px;
  top:433px;
  width:100px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:220px;
  top:249px;
  width:60px;
  height:21px;
  font-size:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:278px;
  top:249px;
  width:96px;
  height:21px;
  font-size:10px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:373px;
  top:249px;
  width:95px;
  height:21px;
  font-size:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:466px;
  top:249px;
  width:72px;
  height:21px;
  font-size:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:220px;
  top:270px;
  width:60px;
  height:31px;
  font-size:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:278px;
  top:270px;
  width:96px;
  height:31px;
  font-size:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:373px;
  top:270px;
  width:95px;
  height:31px;
  font-size:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:466px;
  top:270px;
  width:72px;
  height:31px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:220px;
  top:301px;
  width:60px;
  height:31px;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:278px;
  top:301px;
  width:96px;
  height:31px;
  font-size:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:373px;
  top:301px;
  width:95px;
  height:31px;
  font-size:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:466px;
  top:301px;
  width:72px;
  height:31px;
  font-size:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:535px;
  top:249px;
  width:92px;
  height:21px;
  font-size:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:626px;
  top:249px;
  width:81px;
  height:21px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:705px;
  top:249px;
  width:90px;
  height:21px;
  font-size:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:535px;
  top:270px;
  width:92px;
  height:31px;
  font-size:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:626px;
  top:270px;
  width:81px;
  height:31px;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:705px;
  top:270px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:535px;
  top:301px;
  width:92px;
  height:31px;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:626px;
  top:301px;
  width:81px;
  height:31px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:705px;
  top:301px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:795px;
  top:249px;
  width:90px;
  height:21px;
  font-size:10px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:795px;
  top:270px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:795px;
  top:301px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:220px;
  top:332px;
  width:60px;
  height:21px;
  font-size:10px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:278px;
  top:332px;
  width:96px;
  height:21px;
  font-size:10px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:373px;
  top:332px;
  width:95px;
  height:21px;
  font-size:10px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:220px;
  top:353px;
  width:60px;
  height:31px;
  font-size:10px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:278px;
  top:353px;
  width:96px;
  height:31px;
  font-size:10px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:373px;
  top:353px;
  width:95px;
  height:31px;
  font-size:10px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:466px;
  top:353px;
  width:72px;
  height:31px;
  font-size:10px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:220px;
  top:384px;
  width:60px;
  height:31px;
  font-size:10px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:278px;
  top:384px;
  width:96px;
  height:31px;
  font-size:10px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:373px;
  top:384px;
  width:95px;
  height:31px;
  font-size:10px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:466px;
  top:384px;
  width:72px;
  height:31px;
  font-size:10px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:535px;
  top:332px;
  width:92px;
  height:21px;
  font-size:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:626px;
  top:332px;
  width:81px;
  height:21px;
  font-size:10px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:705px;
  top:332px;
  width:90px;
  height:21px;
  font-size:10px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:535px;
  top:353px;
  width:92px;
  height:31px;
  font-size:10px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:626px;
  top:353px;
  width:81px;
  height:31px;
  font-size:10px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:705px;
  top:353px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:535px;
  top:384px;
  width:92px;
  height:31px;
  font-size:10px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:626px;
  top:384px;
  width:81px;
  height:31px;
  font-size:10px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:705px;
  top:384px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:795px;
  top:332px;
  width:90px;
  height:21px;
  font-size:10px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:795px;
  top:353px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:795px;
  top:384px;
  width:90px;
  height:31px;
  font-size:10px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:216px;
  top:169px;
  width:77px;
  height:15px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:280px;
  top:165px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u132 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:379px;
  top:168px;
  width:71px;
  height:15px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:443px;
  top:165px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u136 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:549px;
  top:170px;
  width:77px;
  height:15px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:611px;
  top:165px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u140 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:216px;
  top:200px;
  width:77px;
  height:15px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:280px;
  top:196px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u144 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:379px;
  top:199px;
  width:71px;
  height:15px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:443px;
  top:196px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u148 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:740px;
  top:198px;
  width:46px;
  height:23px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u150 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:464px;
  top:332px;
  width:72px;
  height:21px;
  font-size:10px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u152 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:89px;
  top:466px;
  width:100px;
  height:31px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
