.table_four_column tr td:nth-child(2n-1){
    width: 15%;
}
.table_four_column tr td:nth-child(2n){
    width: 35%;
}
.table_four_column .form-group{
    margin-bottom: 0;
}
.table_bg_grey{
    background-color: #f5f5f5;
    font-weight: bold;
}

label{
    margin-bottom: 0;
}