/** common */
.footer{
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area{
    width: 200px;
}
.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar{
    border-left: 1px solid #FFF;
}

.my_hide{
    display: none;
}

.checkbox-slider-label{
    cursor: pointer;
}

/** login */
.login-container .loginbox {
    height: auto !important;
    padding-bottom: 20px;
}

.loginbox-title {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0;
}

.login-container{
    margin: 0;
    width: 100%;
    max-width: 100%;
}
.login-container .login-content{
    margin: 10% auto;
    width: 100%;
    max-width: 950px;
    height: auto;
}
.login-container .loginImg{
    background: url("../img/login-image.jpg") no-repeat;
    width: 597px;
    height: 400px;
}
.login-container .loginbox{
    margin-top: 50px;
}
.login-container .loginbox .loginbox-textbox {
    padding-bottom: 0;
}

/** layout --  main */
.page-breadcrumbs{
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

/** exam-template */
.table_four_column tr td:nth-child(2n-1){
    width: 15%;
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: right;
}
.table_four_column tr td:nth-child(2n){
    width: 35%;
}
.table_four_column .form-group{
    margin-bottom: 0;
}
.score{
    width: 20px;
}

label{
    margin-bottom: 0;
}


/** 2A 3A 大客户后台 */
.user-info{
    right: 80px;
    width: 200px;
    padding: 8px 20px 10px 20px;
    height: 45px;
    opacity: 1;
    position: relative;
}

.user-info p{
    display: block;
    color: #fff;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-decoration: none;
    line-height: 25px;
}
.user-info p a{
    color: #fff;
}

.box_click{
    display: inline-block;
    padding: 10px 2px;
    width: 98%;
    margin-bottom: 4%;
    height: auto;
    text-align: center;
    border: 1px solid #3c763d;
    color: #3c763d;
    border-radius: 4px;
    cursor: pointer;
}
.box_click:hover{
    background-color: #3c763d;
    color: #fff;
}
.box_click.active{
    background-color: #3c763d;
    color: #fff;
}
.box_click .bitcoin{
    font-size: 18px;
}
.box_click .rmb{
    font-size: 12px;
}