.footer{
    width: 100%;
    position: absolute;
    bottom: 2px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area{
    width: 200px;
}
.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar{
    border-left: 1px solid #FFF;
}
