body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:40px;
  width:810px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:124px;
  width:810px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u3 {
  position:absolute;
  left:196px;
  top:130px;
  width:10px;
  height:370px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:353px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:370px;
}
#u4 {
  position:absolute;
  left:200px;
  top:155px;
  width:690px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u5 {
  position:absolute;
  left:202px;
  top:130px;
  width:90px;
  height:31px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:291px;
  top:130px;
  width:90px;
  height:31px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:800px;
  top:130px;
  width:90px;
  height:31px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:133px;
  width:100px;
  height:31px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:166px;
  width:100px;
  height:31px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:90px;
  top:199px;
  width:100px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:90px;
  top:232px;
  width:100px;
  height:31px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:90px;
  top:265px;
  width:100px;
  height:31px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:324px;
  top:51px;
  width:540px;
  height:70px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:536px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:110px;
  top:61px;
  width:150px;
  height:51px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:89px;
  top:301px;
  width:100px;
  height:31px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:89px;
  top:334px;
  width:100px;
  height:31px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:89px;
  top:367px;
  width:100px;
  height:31px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:89px;
  top:400px;
  width:100px;
  height:31px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:89px;
  top:433px;
  width:100px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:89px;
  top:466px;
  width:100px;
  height:31px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:216px;
  top:171px;
  width:67px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:216px;
  top:259px;
  width:328px;
  height:221px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:221px;
}
#u40 {
  position:absolute;
  left:2px;
  top:102px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:283px;
  top:167px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:382px;
  top:171px;
  width:59px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:455px;
  top:167px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:555px;
  top:169px;
  width:67px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:622px;
  top:165px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:721px;
  top:169px;
  width:64px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:785px;
  top:165px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u54 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:216px;
  top:199px;
  width:77px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:284px;
  top:195px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:382px;
  top:196px;
  width:71px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:455px;
  top:195px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:554px;
  top:198px;
  width:77px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:622px;
  top:194px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u66 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:721px;
  top:198px;
  width:71px;
  height:15px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:786px;
  top:194px;
  width:89px;
  height:26px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
}
#u70 {
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:342px;
  top:234px;
  width:77px;
  height:15px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:554px;
  top:259px;
  width:266px;
  height:88px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:88px;
}
#u74 {
  position:absolute;
  left:2px;
  top:36px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:680px;
  top:233px;
  width:77px;
  height:15px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:554px;
  top:380px;
  width:328px;
  height:104px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:104px;
}
#u78 {
  position:absolute;
  left:2px;
  top:44px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:680px;
  top:353px;
  width:77px;
  height:15px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:828px;
  top:289px;
  width:52px;
  height:26px;
  font-size:10px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:26px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
