body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:700px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:20px;
  width:400px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:300px;
  top:510px;
  width:60px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:360px;
  top:510px;
  width:120px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:480px;
  top:510px;
  width:120px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:600px;
  top:510px;
  width:100px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:325px;
  top:377px;
  width:315px;
  height:123px;
  font-size:18px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:123px;
}
#u11 {
  position:absolute;
  left:2px;
  top:50px;
  width:311px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:377px;
  width:240px;
  height:123px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:123px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:325px;
  top:314px;
  width:350px;
  height:57px;
  font-size:18px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:57px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:325px;
  top:38px;
  width:350px;
  height:170px;
  font-size:18px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u17 {
  position:absolute;
  left:2px;
  top:63px;
  width:346px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:400px;
  top:38px;
  width:275px;
  height:170px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:170px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:271px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:325px;
  top:215px;
  width:350px;
  height:95px;
  font-size:18px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:95px;
}
#u21 {
  position:absolute;
  left:2px;
  top:26px;
  width:346px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:400px;
  top:215px;
  width:275px;
  height:95px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:95px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:644px;
  top:415px;
  width:40px;
  height:65px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
