body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:40px;
  width:810px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:124px;
  width:810px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:793px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:810px;
  height:1px;
}
#u3 {
  position:absolute;
  left:196px;
  top:130px;
  width:10px;
  height:370px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:353px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:370px;
}
#u4 {
  position:absolute;
  left:200px;
  top:155px;
  width:690px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:673px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:690px;
  height:1px;
}
#u5 {
  position:absolute;
  left:800px;
  top:130px;
  width:90px;
  height:31px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:133px;
  width:100px;
  height:31px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:90px;
  top:166px;
  width:100px;
  height:31px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:90px;
  top:199px;
  width:100px;
  height:31px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:232px;
  width:100px;
  height:31px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:90px;
  top:265px;
  width:100px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:324px;
  top:51px;
  width:540px;
  height:70px;
  font-size:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:536px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:110px;
  top:61px;
  width:150px;
  height:51px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:743px;
  top:440px;
  width:66px;
  height:23px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:819px;
  top:440px;
  width:66px;
  height:23px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:208px;
  top:180px;
  width:112px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:319px;
  top:180px;
  width:143px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:208px;
  top:210px;
  width:112px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:319px;
  top:210px;
  width:143px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:208px;
  top:240px;
  width:112px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:319px;
  top:240px;
  width:143px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:208px;
  top:270px;
  width:112px;
  height:30px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:319px;
  top:270px;
  width:143px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:202px;
  top:130px;
  width:90px;
  height:31px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:291px;
  top:130px;
  width:90px;
  height:31px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:380px;
  top:130px;
  width:90px;
  height:31px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:469px;
  top:130px;
  width:90px;
  height:31px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:558px;
  top:130px;
  width:90px;
  height:31px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:89px;
  top:301px;
  width:100px;
  height:31px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:89px;
  top:334px;
  width:100px;
  height:31px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:89px;
  top:367px;
  width:100px;
  height:31px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:89px;
  top:400px;
  width:100px;
  height:31px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:89px;
  top:433px;
  width:100px;
  height:31px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:722px;
  top:130px;
  width:90px;
  height:31px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:648px;
  top:130px;
  width:90px;
  height:31px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:89px;
  top:466px;
  width:100px;
  height:31px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
