a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.no-padding {
	padding: 0 !important
}

.no-padding-bottom {
	padding-bottom: 0 !important
}

.no-padding-top {
	padding-top: 0 !important
}

.no-padding-left {
	padding-left: 0 !important
}

.no-padding-right {
	padding-right: 0 !important
}

.no-margin {
	margin: 0 !important
}

.no-margin-bottom {
	margin-bottom: 0 !important
}

.no-margin-top {
	margin-top: 0 !important
}

.no-margin-left {
	margin-left: 0 !important
}

.no-margin-right {
	margin-right: 0 !important
}

.padding-left-1 {
	padding-left: 1px !important;
}

.padding-right-1 {
	padding-right: 1px !important;
}

.margin-left-10{
	margin-left: 10px !important;
}

.padding-left-15{
	padding-left: 15px !important;
}
.padding-right-15{
	padding-right: 15px !important;
}

.margin-bottom-20{
	margin-bottom: 20px !important;
}

.head-margin-20{
    height: 20px;
}

.inner_img_small{
	height: 17px;
}
.inner_img_big{
    width: 100%;
    text-align: center;
}
.inner_img_big img{
    min-width: 300px;
    width: 95%;
	max-width: 600px;
}
.control-label{
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}

.table-font-small{
	font-size: 12px;
}


/** practice/index */
.nav-icon {
	display: inline-block;
	padding: 3px;
	margin: 2px;
	width: 30%;
	height: 60px;
	text-align: center;
}
.nav-icon a{
	color: #000;
}

.nav-icon .glyphicon {
	display: block;
	height: 35px;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 5px;
}

/** practice/test */
.my_hide {
	display: none;
}

.answer_show {
	margin-bottom: 5px;
}


.test_library h4 {
	font-size: 16px;
}

.test_library .form-group {
	margin-bottom: 3px;
}

.test_library label {
	font-size: 16px;
	font-weight: normal;
}
.test_library label input{
	font-size: 16px;
	font-weight: normal;
}

.test_library h5 {
	font-size: 16px;
	padding-top: 5px;
}

/** account/index */
.account-header{
	margin-top: 10px;
	margin-bottom: 10px;
}
.avatar{
	width: 100%;
	height: auto;
	text-align: center;
}
.avatar img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 2px solid #ccc;
}
.avatar .content{
	padding-top: 5px;
	height: 20px;
	line-height: 15px;
}

/** recharge */
.pic_box_3{
    display: inline-block;
    padding: 10px 2px;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 30%;
    height: auto;
    text-align: center;
    border: 1px solid #3c763d;
    color: #3c763d;
    border-radius: 4px;
    cursor: pointer;
}
.pic_box_3:hover{
    background-color: #3c763d;
    color: #fff;
}
.pic_box_3.active{
    background-color: #3c763d;
    color: #fff;
}
.pic_box_3 .bitcoin{
    font-size: 18px;
}
.pic_box_3 .rmb{
    font-size: 12px;
}

/** register */
.pic_box_2{
    display: inline-block;
    padding: 10px 2px;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 40%;
    height: auto;
    text-align: center;
    border: 1px solid #3c763d;
    color: #3c763d;
    border-radius: 4px;
    cursor: pointer;
}
.pic_box_2_hide{
    display: none;
}
.pic_box_2:hover{
    background-color: #3c763d;
    color: #fff;
}
.pic_box_2.active{
    background-color: #3c763d;
    color: #fff;
}
