a{
    text-decoration:none;
    color: #000;
}
a:link{
    text-decoration:none;
    color: #000;
}
a:visited{
    text-decoration:none;
    color: #000;
}
a:hover{
    text-decoration:none;
    color: #000;
}
a:active{
    text-decoration:none;
    color: #000;
}

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-margin-left {
    margin-left: 0 !important
}

.no-margin-right {
    margin-right: 0 !important
}

.padding-left-1{
    padding-left: 1px !important;
}

.padding-right-1{
    padding-right: 1px !important;
}

.nav-icon{
    display: inline-block;
    padding: 5px;
    margin: 2px;
    width: 30%;
    height: 80px;
    text-align: center;
}
.nav-icon .glyphicon{
    display: block;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
}