a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-margin-left {
    margin-left: 0 !important
}

.no-margin-right {
    margin-right: 0 !important
}

.padding-left-1 {
    padding-left: 1px !important;
}

.padding-right-1 {
    padding-right: 1px !important;
}

.margin-left-10{
    margin-left: 10px !important;
}

.padding-left-15{
    padding-left: 15px !important;
}
.padding-right-15{
    padding-right: 15px !important;
}


/** practice/index */
.nav-icon {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    width: 30%;
    height: 80px;
    text-align: center;
}
.nav-icon a{
    color: #000;
}

.nav-icon .glyphicon {
    display: block;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
}

/** practice/test */
.my_hide {
    display: none;
}

.answer_show {
    margin-bottom: 5px;
}

.test_library h4 {
    font-size: 16px;
}

.test_library .form-group {
    margin-bottom: 3px;
}

.test_library .form-group label {
    font-size: 16px;
    font-weight: normal;
}

.test_library h5 {
    font-size: 16px;
    padding-top: 5px;
}


